footer{
    height: 15vh;
    width: 100%;
    background-color: black;
    .foot{
        font-family: fantasy;
        width: 100%;
        display: flex;
        justify-content: space-around;
        a{
            margin-top: 20px;
            color: white;
            text-decoration: None;
        }
        p{
            margin-top: 20px;
            color: white;
            text-decoration: None;
        }
        .about:hover{
            color:red;
        }
        .recipes:hover{
            color:red;
        }
        .faq:hover{
            color:red;
        }
        .contact:hover{
            color:red;
        }
    }
    .media{
        display: flex;
        justify-content: center;
        gap: 5%;
        a{
            margin-top: 1%;
            text-decoration: None;
        }
        .fa-twitter:hover{
            color:red;
        }
        .fa-youtube:hover{
            color:red;
        }
        .fa-facebook:hover{
            color:red;
        }
    }
    .right{
        font-style: italic;
        display: flex;
        justify-content: center;
        p{
            margin-top: 1%;
            color: white; 
        }
        .cpr:hover{
            color:grey;
        }
    }
}