footer{
    height: 15vh;
    width: 100%;
    background-color: black;
    .foot{
        width: 100%;
        display: flex;
        justify-content: space-around;
        a{
            margin-top: 20px;
            color: white;
            text-decoration: None;
        }
        p{
            margin-top: 20px;
            color: white;
            text-decoration: None;
        }
    }
    .media{
        display: flex;
        justify-content: center;
        gap: 5%;
        a{
            margin-top: 1%;
            text-decoration: None;
        }
    }
    .right{
        display: flex;
        justify-content: center;
        p{
            margin-top: 1%;
            color: white;
        }
    }
}