nav{
    height: 15vh;
    .search{
            height: 50%;
            display:flex;
            justify-content: space-between;
            a{
                color: black;
                text-decoration: None;
            }
            a:hover{
                color: red;
            }    
            .a1{
                font-family: 'Brush Script MT', cursive;
                font-weight: bold;
                font-size: 300%;
                margin-left: 5%;
                color: black;
                text-decoration: None;
            }
            .a2{
                font-family: fantasy;
                margin-top: 1%;
                margin-right: 3%;
                color: black;
                text-decoration: None;
            }
            .a2:hover{
                color: red;
                .together{
                    color: red;
                }
            }
    }
    .foods{
        font-family: fantasy;
        height: 50%;
        width: 50%;
        display: flex;
        justify-content: space-between; 
        a{
            color: black;
            text-decoration: None;
        }
        .pasta:hover{
            color: red;
        }  
        .taco:hover{
            color: red;
        }
        .pizza:hover{
            color: red;
        }
        .dessert:hover{
            color: red;
        }
        .breakfast:hover{
            color: red;
        }
        .lunch:hover{
            color: red;
        }
        .dinner:hover{
            color: red;
        } 
        .page2:hover{
            color: red;
        } 
    }   
}   

