@import "navbar";
@import "footer";

*{
    margin: 0px;
}


.pics{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
    width: 200vh;
    height: 200vh;
    margin: 1vh;
    .pic{
        background-image: url("pasta.jpg");
        }
        .bl{
            height: 10vh;
            background-color: black;
            opacity: 0.33;
            p{
                display: flex;
                justify-content: center;
                color: white;
            }
        }
    }
}